{% extends 'base.html.twig' %}

{% block title %}
    S'inscrire
{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
        <div class="max-w-md w-full space-y-8">
            <div>
                <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg"
                     alt="Workflow">
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    S'inscrire
                </h2>
            </div>

            {# Balise form #}
            {{ form_start(registrationForm, {'attr': {'class': 'mt-8 space-y-6'} }) }}

            <div class="rounded-md -space-y-px">

                {# Input username #}
                <div>
                    <label for="username" class="sr-only">Nom d'utilisateur *</label>
                    {{ form_widget(registrationForm.username, {
                        'attr': {
                            'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 sm:text-sm',
                            'placeholder': 'john_doe2'
                        }
                    }) }}

                    {% if registrationForm.username.vars.errors|length > 0 %}
                        <small class="inline-block my-2 text-xs text-red-500">{{ registrationForm.username.vars.errors[0].message }}</small>
                    {% endif %}
                </div>

                {# Input email #}
                <div>
                    <label for="email" class="sr-only">Email *</label>
                    {{ form_widget(registrationForm.email, {
                        'attr': {
                            'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 sm:text-sm',
                            'placeholder': 'john.doe@gmail.com'
                        }
                    }) }}

                    {% if registrationForm.email.vars.errors|length > 0 %}
                        <small class="inline-block my-2 text-xs text-red-500">{{ registrationForm.email.vars.errors[0].message }}</small>
                    {% endif %}
                </div>

                {# Input password #}
                <div>
                    <label for="password" class="sr-only">Mot de passe *</label>
                    {{ form_widget(registrationForm.plainPassword, {
                        'attr': {
                            'class': 'appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-gray-500 focus:border-gray-500 focus:z-10 sm:text-sm',
                            'placeholder': '********'
                        }
                    }) }}

                    {% if registrationForm.plainPassword.vars.errors|length > 0 %}
                        <small class="inline-block my-2 text-xs text-red-500">{{ registrationForm.plainPassword.vars.errors[0].message }}</small>
                    {% endif %}
                </div>
            </div>

            <button type="submit"
                    class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <!-- Heroicon name: solid/lock-closed -->
                        <svg class="h-5 w-5 text-gray-300"
                             xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor"
                             aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </span>
                S'inscrire
            </button>

            {{ form_end(registrationForm) }}
        </div>
    </div>

{% endblock %}
